*{ font-size: 20px;font-family:Arial, sans-serif;}

h1{color: darkblue;text-align: center;}

#main-title{font-weight: bold;text-decoration: underline;}

.intro-para{font-style: italic; line-height: 1.5;}

.content-para{text-transform: uppercase;}

p:first-letter{font-weight: bold;}

.nav-link{text-decoration: none; color:forestgreen}

.color-box p {text-shadow:2px 2px  rgba(0, 0, 0, 0.3);}


.styles{
    font-family: "Imperial Script", serif;
    font-weight: 400;
    font-style: normal;font-size: 30px;
  }

  
  #selector::first-line{
    font-family: "Nosifer", serif;
    font-weight: 400;
    font-style: normal;font-size: 30px;color: red;
  }  


  #para{
    font-family: "Mirza", serif;
    font-weight: 500;
    font-style: normal;font-size: 30px;color: rgba(219, 15, 151, 0.822);
  }